* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	background-color: #121717;
}

img {
	display: block;
	vertical-align: bottom;
}

body {
	width: 100%;
	margin: auto;
	min-width: 500px;
	max-width: 1000px;
	background-color: #006f79;
	font-family: Arial, sans-serif;
	color: #cff;
}

h1, h2, h3, h4, h5, h6, p, li {
	margin: 5px 0px 5px 0px;
	line-height: 1.5em;
}

p {
	text-indent: 10px;
	margin-bottom: 10px;
}

li {
	margin-left: 60px;
	padding-left: 0px;
}

.maldekstra {
	float: left;
}

.dekstra {
	float: right;
}

a.dekstra {
	background-color: #254;
}

header img {
	width: 100%;
}

nav {
	background-color: #263;
}

nav h6 {
	display: block;
	padding: 3px;
}

nav a:first-of-type {
	clear: both;
}

nav a {
	display: block;
	padding: 17px 3% 17px 3%;
	color: #efe;
	text-decoration: none;
	float: left;
}

nav a:hover {
	background-color: #ddc;
	color: #333;
}

nav::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

div#cxefa {
	padding: 15px;
}

div#cxefa a {
	text-decoration: none;
	color: #333;
}

div#cxefa a:hover {
	color: #aaa;
}

div.bildartikolo {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	background-color: #208f99;
}

div.bildo {
	flex: 30%;
	padding: 15px;
}

div.artikolo {
	flex: 70%;
	padding: 15px;
	background-color: #208f99;
}

div#vanege {
	display: block;
	margin-top: 15px;
	padding: 15px;
	background-color: #00995f;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div#vanege img, h2 {
	display: inline;
}

div#vanege img {
	padding-bottom: 15px;
}

div#vanege h2 {
	padding-top: 15px;
}

div.ligilo {
	width: 33.3334%;
	padding: 3%;
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
	float: left;
}

div.ligilo a {
	text-decoration: none;
}

div.ligilo img {
	margin: auto;
	width: 64px;
}

div.ligilo h3 {
	width: 100%;
	min-width: 100px;
	margin: auto;
	padding: 7px;
	margin-top: 15px;
	color: #def;
}

div.ligilo::after {
	display: block;
	content: "";
	height: 0;
	clear: both;
}

div#steam {
	background-color: #223;
}

div#discord {
	background-color: #446;
}

div#telegram {
	background-color: #235;
}

div#steam:hover, div#discord:hover, div#telegram:hover {
	background-color: #779;
}

div#malsuprajxo {
	margin-top: 15px;
	background-color: #444;
	text-align: center;
}

div#malsuprajxo a {
	font-weight: bold;
	color: #aaa;
}

div#malsuprajxo a:hover {
	color: #bbf;
}

@media screen and (max-width: 600px) {
	p, a, li {
		font-size: 1.2em;
	}

	div.bildo, div.artikolo {
		flex: 100%;
	}

	nav a {
		width: 100%;
		padding-top: 14px;
		padding-bottom: 14px; 
		text-align: center;
	}

	div.ligilo {
		width: 100%;
	}
}

@media screen and (min-width: 850px) {
	p {
		margin-top: 15px;
		line-height: 1.5em;
	}

	div.bildo, div.artikolo {
		padding: 25px;
	}
}